extends _layout

block content
  div.row
    div.small-8.columns
      h2 #{single_photo.author}
  div.row
    div.small-8.columns
      img(src='#{single_photo.link}')
      h4 #{single_photo.description}
    div.small-4.columns
      each row in table
        if (single_photo.id !== row.id)
          img(src=row.link)
          h6 #{row.author} - #{row.link}