extends _layout

block content
  div.row
    div.small-8.columns
      h2 #{table.author}
  div.row
    div.small-8.columns
      img(src='#{table.link}')
      h3 #{table.description}
    div.small-4.columns
      each val in table
        img(src=val.link)
        h2 #{val.author} - #{val.link.hostname}